body {
    font-family: Arial, Sans-Serif;
    margin: 60px auto;
    width: 50%;
}

nav ul {
    list-style: none;
    font-weight: bold;
    font-size: 1.5em;
}

nav ul li {
    display: inline;
}

a {
    text-decoration: none;
    color: #111;
}

a:hover {
    text-decoration: underline;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: 0.7em;
}
